<?xml version="1.0" encoding="UTF-8"?>
<suite name="SeleniumTestApiTestSuite">
    
    <test name="test1">
        <classes>
            <class name="org.example.examples.SeleniumTest">
                <methods>
                    <include name="testGoogleTitle"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="test2">
        <classes>
            <class name="org.example.examples.SeleniumTest">
                <methods>
                    <include name="testGoogleTitleFail1"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="test3">
        <classes>
            <class name="org.example.examples.SeleniumTest">
                <methods>
                    <include name="testGoogleTitleFail2"/>
                </methods>
            </class>
        </classes>
    </test>
    
</suite>